parameters:
    level: 1
    paths:
        - src
        - tests
    excludePaths:
        - tests/_craft/*
        - tests/_data/*
        - tests/_output/*
    bootstrapFiles:
        - tests/_bootstrap.php
